*{
	margin:0;
	padding:0;
	font-size:14px;
	font-family:"Microsoft YaHei";
	list-style:none;
	color:#000;
}
body{
	font-size:12px;
	font-family:"Microsoft YaHei";
	background-color:#fff;
	overflow-x:hidden;
}
a{
	color:#000;
	text-decoration:none;
}
.flex_box{
	display:flex;
	display:-webkit-flex;
	width:35%;
	height:80%;
	align-items:center;
	justify-content:space-around;
	border:2px solid #434A54;
	border-radius:3px;
	transition:all 0.5s;
}
.root_box{
	margin:50px auto;
	width:1000px;
	height:400px;
}
.flex_box:hover{
	transform:scale(1.1);
}

/*按钮设置*/
.btn_container{
	position:relative;
	margin:50px auto;
	width:366px;
	height:56px;
}
.btn{
	display:inline-block;
	float:left;
	margin-right:30px;
	width:100px;
	height:50px;
	font-size:20px;
	font-weight:700;
	line-height:50px;
	text-align:center;
	color:#fff;
	background-color:#434A54;
	border:1px solid #1abc9c;
	border-radius:3px;
	transition:all 0.5s;
	cursor:pointer;
}
.btn:hover{
	transform:scale(1.1);
	box-shadow:5px 5px 10px #434A54;
}
.btn_post{
	margin-right:0;
}

